# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
out
.swp
*.swp
*.tsbuildinfo

# Env
.env*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.codex/

# Mac
.DS_Store

/generated/prisma
prisma/dev.db
prisma/dev.db-journal
prisma/dev-copy.db
